.pull-to-refresh {
  background-color: var(--app-primary);
  padding: 8px 0 1px;
  opacity: 0.8;
}

.ptr-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 10;
  text-align: center;
  height: 50px;
  transition: all;
}

.ptr-element .genericon {
  opacity: 0.6;
  font-size: 34px;
  width: auto;
  height: auto;
  transition: all 0.25s ease;
  transform: rotate(90deg);
  margin-top: 5px;
}

.ptr-refresh .ptr-element .genericon {
  transform: rotate(270deg);
}

.ptr-loading .refresh-view,
.ptr-reset .refresh-view,
.ptr-loading .ptr-element,
.ptr-reset .ptr-element {
  transition: all 0.25s ease;
}

.ptr-reset .refresh-view {
  transform: translate3d(0, 0, 0);
}

body:not(.ptr-loading) .ptr-element {
  transform: translate3d(0, -83px, 0);
}