.lyrics p {
  display: block;
  position: relative;
  font-family: monospace;
  min-height: 1px;
  white-space: pre-wrap;
  margin: 0;
  padding: 1em 0 0;

  &.chords {
    margin: -1em 0 -1em;
  }
}

.menu-item {
  padding: 0 1rem;
}

.modal-title {
  align-items: stretch;
  width: 100%;
}

.chord-container {
  min-width: 115px;
  max-width: 30%;
}

.song-transposition-inplace {
  text-align: right;
  margin-bottom: 0;

  &.p-inplace .p-inplace-display, &.p-inplace .p-inplace-content {
    padding: 0;

    .p-button.p-component.button-text {
      color: var(--app-primary);
      padding: 0.5rem 0.5em;
    }
  }

  &.p-inplace .p-inplace-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &.p-inplace .p-inplace-display:not(.p-disabled):hover {
    background: transparent;
  }
}

.auto-columns-on {
  @media (min-width: 1000px) {
    .lyrics {
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
    }
  }
  @media (min-width: 1500px) {
    .lyrics {
      -webkit-columns: 3;
      -moz-columns: 3;
      columns: 3;
    }
  }
}

.lyrics-column-1 {
  .lyrics {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
}

.lyrics-column-2 {
  .lyrics {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}

.lyrics-column-3 {
  .lyrics {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
  }
}
