.lyrics p {
  display: block;
  position: relative;
  font-family: monospace;
  min-height: 1px;
}

.menu-item {
  padding: 0 1rem;
}

.modal-title {
  align-items: stretch;
  width: 100%;
}

.chord-container {
  min-width: 115px;
  max-width: 30%;
}

