.lyrics p {
    white-space: pre-wrap;
    display: block;
    position: relative;
    min-height: 1rem;
    font-size: 1rem;
    font-family: monospace ;
}

.menu-item {
    padding: 0 1rem;
}

.modal-title {
    align-items: stretch;
    width: 100%;
}
