.p-button.p-component.button-primary {
  background: var(--app-primary);
  border-color: var(--app-primary-dark);
  color: white;

  &:hover {
    background: var(--app-primary);
    border-color: var(--app-primary-dark);
  }
}

.custom-input {
  &.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0 #ccc;
    border-color: #dadada;
  }

  &.p-inputtext:enabled:hover {
    border-color: var(--app-primary);
  }
}
