.p-datatable .p-datatable-tbody > tr.p-datatable-emptymessage > td {
  text-align: center;
}

.custom-input {
  &.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0 #ccc;
    border-color: #dadada;
  }

  &.p-inputtext:enabled:hover {
    border-color: var(--app-primary);
  }
}

.song-list-table .p-datatable .p-datatable-tbody > tr > td {
  text-align: center !important;
}

@media only screen and (max-width: 450px) {
  .song-details-dialog .p-dialog-footer .p-button-label {
    display: none;
  }
}