.p-sidebar .p-sidebar-content {
    padding: 0 !important;
}

.menu-item {
    padding: 0 1rem;
}

.modal-title {
    align-items: stretch;
    width: 100%;
}

.p-dialog .p-dialog-content {
    padding: 2.5em 1.5rem 2rem 1.5rem!important;
}
