.preferences hr {
  border-top: 1px solid #efefef;
}

.p-buttonset {
  .p-button.button-secondary.button-outlined {
    border: #ced4da 1px solid;
  }
}

.p-sidebar-right .p-sidebar.preferences-sidebar {
    width: 23rem;
}
