html, body, #root {
  margin: 0;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 350px;
}

:root {
  --app-primary: #354244;
  --app-primary-dark: #2b3536;
  --app-secondary: #6f8caf;
  --app-secondary-dark: #637e9f;
  --app-accent: #d71111;
  --app-accent-dark: #9C340E;
}

// confirmation dialog
.p-dialog .p-dialog-content {
  padding: 2.5em 1.5rem 2rem 1.5rem !important;
}

.p-dialog-footer {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem !important;

  .p-confirm-dialog-reject {
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--app-primary) !important;
  }

  .p-confirm-dialog-accept {
    background-color: var(--app-secondary) !important;
    border-color: var(--app-secondary-dark) !important;
  }

  .p-button.p-button-text:not(a):not(.p-disabled):active {
    background: transparent !important;
  }

}

// scroll to top button
.p-scrolltop {
  background-color: var(--app-primary) !important;
}

